APP_NAME="Hükümdar Bilişim"
APP_ENV=production
APP_KEY=base64:GENERATE_WITH_php_artisan_key_generate
APP_DEBUG=false
APP_URL=https://hukumdar.com.tr
APP_LOCALE=tr
APP_TIMEZONE=Europe/Istanbul

DB_CONNECTION=sqlite

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

LOG_CHANNEL=stack
LOG_LEVEL=error

MAIL_MAILER=log
MAIL_FROM_ADDRESS="info@hukumdar.com.tr"
MAIL_FROM_NAME="Hükümdar Bilişim"
MAIL_TO=info@hukumdar.com.tr
