APP_NAME="Hükümdar Bilişim"
APP_ENV=production
APP_KEY=base64:uiCB9UVcXK2YNST7HMpMiaIGdpeCBokusAxW3GfkzF4=
APP_DEBUG=false
APP_URL=https://hukumdar.com.tr
APP_LOCALE=tr
APP_TIMEZONE=Europe/Istanbul

DB_CONNECTION=sqlite

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

LOG_CHANNEL=stack
LOG_LEVEL=error

MAIL_MAILER=smtp
MAIL_HOST=mail.hukumdar.com.tr
MAIL_PORT=465
MAIL_USERNAME=info@hukumdar.com.tr
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="info@hukumdar.com.tr"
MAIL_FROM_NAME="Hükümdar Bilişim"
MAIL_TO=info@hukumdar.com.tr
